* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #333;
  color: #fff;
}

section {
  border: solid 1px;
  width: fit-content;
  display: flex;
  flex-flow: column;
  padding: 10px;
  margin-top: 1rem;
}

section span {
  opacity: 0;
  transition: opacity 1s; /* Transición suave */
}

section span.show {
  opacity: 1;
}
